<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>{{ site.sitename }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/site.css' %}">
</head>
<body>
	<section id="title" class="text-center text-white mb-0">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<h1>{{ site.sitename }}</h1>
					{% if site.url %}
						<h3><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></h3>
					{% else %}
							<h3>Ikke online</h3>
						<p>Se screenshots/kildekode.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
	<section id="portfolio">
		<div id="a" class="container">
			<div class="row">
				<div class="col-md-6">
					<table class="table">
						<tr>
							<th>Backend:</th>
							<td>{{ site.backend }}</td>
						</tr>
						<tr>
							<th>Frontend:</th>
							<td>{{ site.frontend }}</td>
						</tr>
						<tr>
							<th>Responsive:</th>
							<td>
							{% if site.responsive %}
								<i class="fas fa-check text-success"></i>
							{% else %}
								<i class="fas fa-times text-danger"></i>
							{% endif %}
							</td>
						</tr>
						{% if site.sourcecode %}
							<tr>
								<th>Kildekode:</th>
								<td><a style="font-size: 1.5em" href="{{ site.sourcecode }}"><i class="fab fa-github"></i></a></td>
							</tr>
						{% endif %}
					</table>
				</div>
				<div id="about" class="col-md-6">
					<p>{{ site.about }}</p>
				</div>
			</div>
		</div>
	</section>
	
	<section>
		<div id="images" class="container">
			<div class="row">
				<div class="col-md-6 imgcolumn">
					<span class="site-description">{{ site.image1_description }}</span>
					<a href="{{ site.image1.url }}"><img src="{{ site.image1.url }}" class="img-fluid" alt=""></a>
				</div>
				<div class="col-md-6 imgcolumn">
					<span class="site-description">{{ site.image2_description }}</span>
					<a href="{{ site.image2.url }}"><img src="{{ site.image2.url }}" class="img-fluid" alt=""></a>
				</div>
				{% if site.image3 %}
					<div class="col-md-6 imgcolumn">
						<span class="site-description">{{ site.image3_description }}</span><br>
						<a href="{{ site.image3.url }}"><img src="{{ site.image3.url }}" class="img-fluid" alt=""></a>
					</div>
				{% endif %}
				{% if site.image4 %}
					<div class="col-md-6 imgcolumn">
						<span class="site-description">{{ site.image4_description }}</span><br>
						<a href="{{ site.image4.url }}"><img src="{{ site.image4.url }}" class="img-fluid" alt=""></a>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
</body>
</html>
